body
  background-color: #AB7E36

h1
  text-align: center
  color: #2F588B

h2
  text-align: center
  color: #7F99B1
  font-style: italic

h3
  text-align: center
  color: #2F588B

p
  text-align: center

div#contenedor-platos
  display: flex
  justify-content: center
  column-gap: 50px
  width: 100%
  h3
    color: black
  img
    border-radius: 50%
  button
    margin: 15px
